* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*corpo da pag*/
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}
/* cabeçalho*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* tit princ*/
h1 {
  text-align: center;
  margin-bottom: 30px;
}
/* secao princ*/
main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
/* larg produot*/
.produto {
  width: 250px;
}
/* card do produto*/
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* img produto*/
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
/* nome e preco*/
.card h3 {
  font-size: 18px;
}

.card p {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}
/* botao do card*/
.card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}



